.container {
	margin: 0 auto;
	padding: 0 2rem;
	max-width: var(--max-width);
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 2rem 0;
}

.footer {
	padding: 2rem 0;
}

.main {
	flex-grow: 1;
}

.main > *:not(section) {
	margin-bottom: 1.5rem;
}

.name {
	color: slateblue;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.8rem;
}
